@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444444;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    line-height: 1.6;
}
h1 {
    font-size: 6.4rem;
}
h2 {
    font-size: 4.8rem;
}
h3 {
    font-size: 3.6rem;
}
h4 {
    font-size: 2.8rem;
}
h5 {
    font-size: 2.4rem;
}
h6 {
    font-size: 1.8rem;
}
p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 1.5rem 0;
}
.container {
    height: 100%;
    width: 144rem;
    max-width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.grid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 1rem;
    height: 100%;
    border: 1px solid #eee;
}
.preview-grid {
    margin: 1rem 0;
    padding: 0;
    display: grid;
    grid-gap: 1rem;
}
.grid-3-col {
    grid-template-columns: repeat(3, 1fr);
}
.grid-2-col {
    grid-template-columns: repeat(2, 1fr);
}
section {
    padding: 4rem 0;
}
.align-top {
    align-items: start;
}
.align-center {
    align-items: center;
}
.align-bottom {
    align-items: center;
}
.justify-center {
    justify-items: center;
}
.center-text {
    text-align: center;
}
.align-self-top {
    align-self: start;
}
.align-self-center {
    align-self: center;
}
.align-self-end {
    align-self: end;
}
.justify-self-right {
    justify-self: end;

}

/* Modifiers */

.text-uppercase {
    text-transform: uppercase;
}

/* Colors */
.color-blue-1 {
    color: #0087BE;
}
.color-blue-2 {
    color: #145374;
}
.color-blue-3 {
    color: #00334E;
}
.color-grey-1 {
    color: #f2f2f2;
}
.color-grey-2 {
    color: #E8E8E8;
}
.color-grey-3 {
    color: #444444;
}
.color-white {
    color: #FFFFFF;
}



/* Background colors */
.background-color-blue-1 {
    background-color: #0087BE;
}
.background-color-blue-2 {
    background-color: #145374;
}
.background-color-blue-3 {
    background-color: #00334E;
}
.background-color-grey-1 {
    background-color: #f2f2f2;
}
.background-color-grey-2 {
    background-color: #E8E8E8;
}
.background-color-grey-3 {
    background-color: #444444;
}
.background-color-white {
    background-color: #FFFFFF;
}

/* Buttons */
.button {
    text-decoration: none;
    text-align: center;
    margin-top: 0.7rem;
    padding: 1.2rem 2.2rem;
    display: inline-block;
    font-weight: 400;
    font-family: 'Open Sans', Arial, sans-serif; 
    font-size: 1.6rem;
    line-height: 2rem;
    border-radius: 4px;
    overflow: visible;
    border: 0;
    cursor: pointer;
}
.btn-default {
    color: #444444;
    background: #FFFFFF;
    border: 0.1rem solid #F2F2F2;
    transition: all 0.2s;
}
.btn-default:hover {
    background: #E8E8E8;
}
.btn-primary {
    color: #ffffff;
    background: #145374;
    transition: all 0.2s;
}
.btn-primary:hover {
    color: #ffffff;
    background: #00334E;
}
.btn-secondary {
    color: #ffffff;
    background: #0087BE;
    transition: all 0.2s;
}
.btn-secondary:hover {
    color: #ffffff;
    background: #145374;
}

/* Preview */
.color-box {
    padding: 3rem;
    min-height: 20rem;
}
.border {
    border: 0.1rem solid #f2f2f2;
}
